body {
	margin: 0;
	overflow: hidden;
	font-family: Roboto, Arial, sans-serif;
}

.loading {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -100;
	font-size: large;
}
